<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tarea 1</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>
        <a href="{{ url_for('home') }}">ACTIVIDADES EN BEAUCHEFF HELLYEAH</a>
      </h1>
      <div class="navbar">
        <a href="{{ url_for('agregar_actividad_page') }}" class="section"
          >AGREGAR ACTIVIDAD 🛠️</a
        >
        <a href="{{ url_for('listado_actividades_page') }}" class="section"
          >VER OTRAS ACTIVIDADES 🔍</a
        >
        <a href="{{ url_for('estadisticas_page') }}" class="section"
          >ESTADÍSTICAS ☝️🤓</a
        >
      </div>
      <div class="container_estadisticas">
        <h2>Estadisticas</h2>
        <div class="c2">
          <div
            id="container-grafico-lineas"
            class="grafico-container"
            style="min-width: 310px; height: 400px; margin: 0 auto"
          >
            <p>Cargando gráfico de actividades por día...</p>
          </div>
          <div
            id="container-grafico-torta"
            class="grafico-container"
            style="min-width: 310px; height: 400px; margin: 0 auto"
          >
            <p>Cargando gráfico de actividades por tema...</p>
          </div>
        </div>
        <div
          id="container-grafico-barras"
          class="grafico-container"
          style="min-width: 310px; height: 400px; margin: 0 auto"
        >
          <p>Cargando gráfico de actividades por mes y periodo del día...</p>
        </div>
      </div>
      <div class="botones-detalle" style="margin-top: 20px">
        <a href="{{ url_for('home') }}" class="button-link"
          >Volver a la Portada</a
        >
      </div>
    </div>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="{{ url_for('static', filename='js/script_estadisticas.js') }}"></script>
  </body>
</html>
