<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tarea 1</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>
        <a href="{{ url_for('home') }}">ACTIVIDADES EN BEAUCHEFF HELLYEAH</a>
      </h1>
      <div class="navbar">
        <a href="{{ url_for('agregar_actividad_page') }}" class="section"
          >AGREGAR ACTIVIDAD 🛠️</a
        >
        <a href="{{ url_for('listado_actividades_page') }}" class="section"
          >VER OTRAS ACTIVIDADES 🔍</a
        >
        <a href="{{ url_for('estadisticas_page') }}" class="section"
          >ESTADÍSTICAS ☝️🤓</a
        >
      </div>
      <div class="container_estadisticas">
        <h2>Estadisticas</h2>
        <div class="c2">
          <img src="../static/img/g1.png" alt="graf1" />
          <img src="../static/img/g2.png" alt="graf2" />
        </div>
        <img id="im3" src="../static/img/g3.png" alt="graf3" />
      </div>
    </div>
  </body>
</html>
