<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tarea 1</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>
        <a href="{{ url_for('home') }}">ACTIVIDADES EN BEAUCHEFF HELLYEAH</a>
      </h1>
      <div class="navbar">
        <a href="{{ url_for('agregar_actividad_page') }}" class="section"
          >AGREGAR ACTIVIDAD 🛠️</a
        >
        <a href="{{ url_for('listado_actividades_page') }}" class="section"
          >VER OTRAS ACTIVIDADES 🔍</a
        >
        <a href="{{ url_for('estadisticas_page') }}" class="section"
          >ESTADÍSTICAS ☝️🤓</a
        >
      </div>
      <div class="recentactivities">
        <table id="tabla">
          <thead>
            <tr>
              <th>Inicio</th>
              <th>Término</th>
              <th>Comuna</th>
              <th>Sector</th>
              <th>Tema</th>
              <th>Foto</th>
            </tr>
          </thead>
          <tbody>
            {% if actividades %} {% for act in actividades %}
            <tr>
              <td>{{ act.dia_hora_inicio.strftime('%d-%m-%Y %H:%M') }}</td>
              <td>
                {{ act.dia_hora_termino.strftime('%d-%m-%Y %H:%M') if
                act.dia_hora_termino else 'No definido' }}
              </td>
              <td>{{ act.comuna.nombre }}</td>
              <td>{{ act.sector or 'N/A' }}</td>
              <td>
                {% if act.temas_asociados %} {% set primer_tema =
                act.temas_asociados[0] %} {% if primer_tema.tema == 'otro' and
                primer_tema.glosa_otro %} {{ primer_tema.glosa_otro | capitalize
                }} {% else %} {{ primer_tema.tema | capitalize }} {% endif %} {%
                else %} N/A {% endif %}
              </td>
              <td>
                {% if act.fotos %}
                <img
                  src="{{ url_for('static', filename='UPLOAD_FOLDER/' + act.fotos[0].ruta_archivo) }}"
                  alt="Foto de la actividad"
                  width="100"
                />
                {% else %} Sin Foto {% endif %}
              </td>
            </tr>
            {% endfor %} {% else %}
            <tr>
              <td colspan="6" style="text-align: center">
                No hay actividades para mostrar. ¡Agrega una!
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
